### Preparing the Data

In [4]:
import numpy as np
import pandas as pd

In [14]:
col_array_1 = np.array([75,72,68,65,67,73])

In [15]:
col_array_2 = np.array([93,96,43,47,51,90])

In [16]:
data = np.column_stack([col_array_1,col_array_2])

In [18]:
data

array([[75, 93],
       [72, 96],
       [68, 43],
       [65, 47],
       [67, 51],
       [73, 90]])

In [21]:
L1 = pd.DataFrame(data,columns=['Math_Test_Score','History_Test_Score'])

- Column is stacked one after another

In [22]:
L1

   Math_Test_Score  History_Test_Score
0               75                  93
1               72                  96
2               68                  43
3               65                  47
4               67                  51
5               73                  90

#### Building the average function
- This function would be our helper function to calculate the average scores of different tests

In [81]:
def average_score(scores):
    #Results Container
    results = 0
    count = 0 

    for value in scores:
        results += value    
        count+=1
    
    avg_math_results = (results)/count
    return avg_math_results

### Absolute Mean Deviation

#### Calculating Average Score for Math_Test_Score

In [83]:
math_avg_score = average_score(L1.Math_Test_Score)
print("Math Test Average",math_avg_score)

Math Test Average 70.0

#### Calculating Average Score for History_Test_Score

In [85]:
history_avg_score = average_score(L1.History_Test_Score)
print("History Test Score",history_avg_score)

History Test Score 70.0

#### Observations
-  Did you notice that we get the same average value ?
- Let's try to find out which column has points near the median

#### Calculating Summation of Absolute Value

In [94]:
#Calculating the absolute sum
def abs_sum(lst,avg_res):
    #storing the results
    abs_sum_results = []
    
    for value in lst:
        abs_sum_results.append(int(abs(value - avg_res)))
    return abs_sum_results

In [97]:
#Math Results
abs_math_results = abs_sum(L1.Math_Test_Score,math_avg_score)

#History Results
abs_history_results = abs_sum(L1.History_Test_Score,history_avg_score)

#Print Results
print(f"Math Absolute Results:{abs_math_results}\nHistory Absolute Results:{abs_history_results}")

Math Absolute Results:[5, 2, 2, 5, 3, 3]
History Absolute Results:[23, 26, 27, 23, 19, 20]

In [98]:
#Calculating the mean of math and history results

print(f"Mean of Math Absolute Results:{np.mean(abs_math_results)}\nMean of History Absolute Results:{np.mean(abs_history_results)}")

Mean of Math Absolute Results:3.3333333333333335
Mean of History Absolute Results:23.0

- From the above results, we can conclude that the data points of Absolute Math Result are nearer to each other.

#### Take Away's
- Since the *Average Score* was same for both the tests, I decided to calculate the MAD (Mean Absolute Deviation)
- From the results for MATH, suggests that the data points for Math are closer than the History Test

### Standard Deviation

In [113]:
history_class_A = [75,72,68,65,67,73]
history_class_B = [83,70,70,62,70,70]

In [114]:
#Class A history avg
history_classA_avg = average_score(history_class_A)
print(history_classA_avg)

70.0

In [115]:
#Class B history avg
history_classB_avg = average_score(history_class_B)
print(history_classB_avg)

70.83333333333333

In [117]:
#History Class A - Absolute Results
abs_historyA_results = abs_sum(history_class_A,history_classA_avg)

#History Class B - Absolute Results
abs_historyB_results = abs_sum(history_class_B,history_classB_avg)

print(f"History A Mean:{np.mean(abs_historyA_results)}\nHistory B Mean:{np.mean(abs_historyB_results)}")

History A Mean:3.3333333333333335
History B Mean:3.3333333333333335

- We can observe that we are having the same mean value for both History Class A and B
- In such cases, I we would calculate *Standard Deviation to assists which col/data lie close to each other*

In [120]:
#Standard Deviation of History Class A
std_dev_of_A = np.square(abs_historyA_results)

print("Standard Deviation of History Class A",std_dev_of_A)

Standard Deviation of History Class A [25  4  4 25  9  9]

In [121]:
#Standard Deviation of History Class B
std_dev_of_B = np.square(abs_historyB_results)

print("Standard Deviation of History Class B",std_dev_of_B)

Standard Deviation of History Class B [144   0   0  64   0   0]

In [123]:
#Average of Standard Deviation of class A
avg_A = np.average(std_dev_of_A)

#Average of Standard Deviation of class B
avg_B = np.average(std_dev_of_B)

print(np.square(avg_A))
print(np.square(avg_B))

160.44444444444443
1201.7777777777776

- From the above results, we can suggest that Class B has data points near each other